<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <div class="btn-group mx-3 my-3" role="group">
    <a href='/train' type="button" class="btn btn-lg btn-secondary">Train</a>
    <a href='/load' type="button" class="btn btn-lg btn-secondary">Load</a>
    <a href='/generate' type="button" class="btn btn-lg btn-secondary">Generate</a>
    <a href='/shut' type="button" class="btn btn-lg btn-secondary">Shut up</a>
  </div>
  <div class='container my-3'>
    {% for i in no_rows %}
      <div class=row>
        {% for j in no_cols %}
        <div class="btn-group mx-2 my-2" role="group">
          <a href='/listen/{{i}}/{{j}}' type="button" class="btn btn-lg btn-secondary">Listen</a>
          <a href='/use/{{i}}/{{j}}' type="button" class="btn btn-lg btn-secondary">Use</a>
          <a href='/save/{{i}}/{{j}}' type="button" class="btn btn-lg btn-secondary">Save</a>
        </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  <div>
    <form method="POST" action="/set">
        <div class='form-group mx-3 my-4'>
          <label for="f1">Mute probability:</label>
          <input style="width:50px" type="text" name="mute" value='{{mute}}'> 

          <label for="f2">Number of ticks:</label>
          <input style="width:60px" type="text" name="ticks" value='{{ticks}}'> 
        
          <label for="f3">Number of instruments:</label>
          <input style="width:40px" type="text" name="instr" value='{{noinstr}}'> 

          <label for="f4">Learning speed:</label>
          <input style="width:50px" type="text" name="speed" value='{{lspead}}'> 

          <input type="submit" class="btn btn-lg btn-secondary" value="Set">
        </div>

      </div>
    </form>
  </div>
</body>
</html>
